.tab
{
width: 1024px;

margin: 0 auto;


}

.tableTop
{
	padding-top: 0px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	

}

.tabText1
{
	font-family: Segoe WP N Light, regular;
	font-size: 26.63px;
	color: #5f5f5f;
	
	text-align: center;
	 
	margin-top: 10px;
}

.tabText2
{
	font-family: Segoe WP N Light, regular;
	font-size: 22.63px;
	color: #5f5f5f;
	
	text-align: center;
	padding-left: 15px; 
}
	
.img1
{
	padding-left: 57px; 
}

.tabTextA
{
	margin-left: 15px;
	border: 1px solid black;
	width: 250px;

}
.tabTextB
{
	
	border: 1px solid black;
	width: 250px;
}

.tabTextC
{
	border: 1px solid black;
	
	width: 250px;
}

.tabTextD
{
	
	border: 1px solid black;
	width: 250px;
	margin-right:12px ; 
	cursor: pointer;
}




 .table1 
 {
 	background: #d82d2d;
 	
 	
 	opacity: 0;
 }

 #n1: checked ~ .table1 > div:nth-of-type(1),
 #n2: checked ~ .table1 > div:nth-of-type(2),
 #n3: checked ~ .table1 > div:nth-of-type(3),
 #n4: checked ~ .table1 > div:nth-of-type(4) {opacity: 1;}
 {display: block;}